* {
  font-family: 'Courier New', Courier, monospace;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  flex:1;
}

.menu {
/* rest of css for menu is found in __menu.css. this is ONLY for flex stuff */
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.content {
  flex: 1 1 auto;   
}

.pad-left {
  padding-left: 1vw;
}

.footer {
  flex: 0 1 40px;
  background-color: #D7263D;
}